@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:root {
    font-family: 'Nunito', 'Arial';
    /* vars */
    /*--principal-pastel:     hsl(341, 100%, 95%);*/
    /*--principal-brightest:  hsl(341, 85%, 89%);*/
    /*--principal-light:      hsl(342, 95%, 79%);*/
    --principal-neutral:    hsl(341, 94%, 65%);
    /*--principal-dark:       hsl(342, 72%, 49%);*/
    /*--principal-darker:     hsl(342, 62%, 37%);*/
    /*--principal-darkest:    hsl(342, 78%, 19%);*/

    --secondary-pastel:     hsl(30, 33%, 98%);
    /*--secondary-brightest:  hsl(29, 56%, 91%);*/
    /*--secondary-light:      hsl(30, 59%, 83%);*/
    /*--secondary-neutral:    hsl(31, 54%, 69%);*/
    /*--secondary-dark:       hsl(30, 66%, 63%);*/
    /*--secondary-darker:     hsl(30, 46%, 46%);*/
    /*--secondary-darkest:    hsl(30, 64%, 29%);*/

    --grey-light: hsl(20, 5%, 88%);
    --grey-dark: hsl(340, 2%, 63%);

    --size-1: 1px;
    --size-xs: 3px;
    --size-s: 5px;
    --size-m: 10px;
    --size-l: 16px;
    --size-xl: 26px;
    --size-max: 52px;

    --border-radius: var(--size-l);
    --border: solid var(--size-xs); /* don't forget to choose a color after */

    --shadow: 2px 2px 16px -2px rgba(0,0,0,0.2), 1px 1px 4px 1px rgba(0,0,0,0.2)
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--secondary-pastel);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body > header {
    height: var(--size-max);
    box-shadow: var(--shadow);
    padding: var(--size-m);
    font-size: var(--size-xl);
    background: var(--secondary-pastel);
    position: sticky;
    top: 0;
}

body > main {
    min-height: calc(100vh - 200px - var(--size-max) - 2*var(--size-m));
}

body > header > nav {
    height: 100%;
}

body > header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-m);
    height: 100%;
}

body > header > nav > ul > li::marker {
    content: none;
}
body > header > nav > ul > li {
    background: var(--principal-neutral);
    border-radius: var(--border-radius);
    height: 100%;
    padding-left: var(--size-l);
    padding-right: var(--size-l);
}
body > header > nav > ul > li:first-child {
    background: none;
    border-radius: none;
    flex: 1;
}

body > header > nav > ul > li {
    display: flex;
    align-items: center; /* aligns the contents of the <a> element vertically */
    height: 100%; /* sets the height of the <a> element to 100% of the parent <li> element */
}

body > header > nav > ul > li > a {
    color: var(--secondary-pastel);
    font-weight: 600;
    text-decoration: none;
}

body > header > nav > ul > li:first-child > a > img {
    height: var(--size-max);
}
body > header > nav > ul > li:last-child {
    border: var(--border) var(--principal-neutral);
    background: none;
}
body > header > nav > ul > li:last-child > a > img {
    height: calc(var(--size-max) - var(--size-xl));
}

main:has(aside) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--size-max);
    margin-top: var(--size-xl);
    margin-left: var(--size-xl);
    margin-right: var(--size-xl);
}

aside {
    background: var(--secondary-pastel);
    border-radius: var(--border-radius);
    padding: var(--size-xl);
    padding-left: calc(var(--size-xl) * 1.5);
    box-shadow: var(--shadow);
    height: fit-content;
    min-width: fit-content;
    position: sticky;
    top: calc(var(--size-xl) * 4);
}
aside ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
aside li:has(h3)::marker{
    content: none;
}
aside li h3 {
    font-size: var(--size-xl);
    font-weight: 700;
    color: var(--principal-neutral);
    margin-bottom: var(--size-m);
}
aside a {
    color: black;
    text-decoration: none;
}
aside a:hover {
    text-decoration: underline;
}

body > main > article > section > h1 {
    font-size: var(--size-xl);
    border-bottom: var(--border) var(--principal-neutral);
    margin-bottom: var(--size-xl);
}

body > main > article > section > ul {
    display: flex;
    flex-direction: row;
    gap: var(--size-xl);
    flex-wrap: wrap;
}

body > main > article > section > ul > li {
    width: fit-content;
    max-width: 250px;
}

body > main > article > section > ul > li::marker {
    content: none;
}

.recipe {
    background: var(--secondary-pastel);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}
.recipe > section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: var(--size-l);
    padding: var(--size-m);
}

main.registerPage {
    padding: var(--size-max);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-xl);
}

body:has(main.registerPage) > p {
    display: flex;
    justify-content: center;
    font-size: var(--size-xl);
}

main.registerPage > hr {
    height: 250px;
    border: none;
    border-right: var(--border) var(--principal-neutral);
    border-radius: var(--border-radius);
}

main.registerPage > section > form {
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);
    min-width: 300px;
    align-items: center;
}

main.registerPage > section > form > h2 {
    font-size: var(--size-xl);
}

main.registerPage > section > form > label {
    display: none;
}

main.registerPage > section > form > input {
    font-family: 'Nunito', 'Arial';
}

main.registerPage > section > form > input[type=text], input[type=email], input[type=password] {
    height: var(--size-xl);
    border-radius: var(--border-radius);
    padding: var(--size-l);
    border: none;
    background: var(--grey-light);
    font-size: var(--size-xl);
}

main.registerPage > section > form > :is(input[type=text], input[type=email], input[type=password])::placeholder {
    color: var(--grey-dark);
}


main.registerPage > section > form > input[type=submit] {
    background: var(--principal-neutral);
    border: none;
    border-radius: var(--border-radius);
    color: var(--secondary-pastel);
    padding: var(--size-m);
    font-size: var(--size-xl);
    width: calc(100% - var(--size-max));
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    flex-direction: column;
    gap: var(--size-max);
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    background: var(--grey-dark);
    color: var(--secondary-pastel);
    font-size: var(--size-xl);
}
